<div>
  <div class="flex justify-between items-center h-[700px]">
    <div class="flex flex-col gap-8 mt-32">
      <div class="text-4xl w-2/3 font-medium tracking-wider">
        Uzair is a <span class="text-purple">web developer</span> and
        <span class="text-purple">react native developer</span>
      </div>
      <div class="text-gray w-2/3 text-xl">
        He crafts responsive websites where technologies meet creativity
      </div>
      <div>
        <button
          class="border border-purple p-4 text-lg cursor-pointer shadow-purple shadow-lg"
        >
          Let's Connect !!
        </button>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <img src="/assets/images/hero.svg" width="600" />
      <div
        class="text-gray border border-gray flex items-center gap-2 text-xl px-2"
      >
        <span class="w-4 h-4 bg-purple shadow-purple shadow-xl"></span>
        Currently working on
        <span class="font-bold text-white">Portfolio</span>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <img src="/assets/images/quote.svg" />
  </div>
</div>
