<div class="">
  <div class="flex flex-col gap-4 my-10">
    <div class="text-4xl"><span class="text-purple">/</span>about-me</div>
    <div class="text-lg">Who am i?</div>
  </div>
  <div class="flex flex-row-reverse items-center">
    <img src="assets/images/about_me.svg" />
    <app-about-me></app-about-me>
  </div>
  <div class="flex flex-col my-24 gap-8">
    <div class="text-2xl"><span class="text-purple">#</span>skills</div>
    <app-skills-card></app-skills-card>
  </div>
  <div class="flex justify-between items-center">
    <div class="flex flex-col gap-8 w-1/4">
      <div class="text-2xl"><span class="text-purple">#</span>my-fun-facts</div>
      <div class="flex flex-col gap-4">
        <div *ngFor="let funFact of funFacts" class="border border-gray p-2">
          {{ funFact }}
        </div>
      </div>
    </div>
    <div>
      <img src="assets/images/shapes.svg" />
    </div>
  </div>
</div>
