<div>
  <div class=""><app-hero></app-hero></div>
  <div class="flex justify-between items-center">
    <div class="mt-24 mb-12 w-2/3 text-2xl flex">
      <span class="text-purple pr-1">#</span>projects
      <div class="border-t-2 border-purple px-96 mt-4 ml-2"></div>
    </div>
    <div>
      <button class="text-gray font-bold py-2 px-2">View Here -></button>
    </div>
  </div>
  <div>
    <app-project-card></app-project-card>
  </div>
  <div>
    <div class="mt-24 mb-12 w-2/4 text-2xl flex">
      <span class="text-purple pr-1">#</span>skills
      <div class="border-t-2 border-purple px-64 mt-4 ml-2"></div>
    </div>
    <div class="flex">
      <img src="assets/images/shapes.svg" width="500" />
      <app-skills-card></app-skills-card>
    </div>
  </div>
</div>
