<div class="flex md:flex-row flex-col justify-between md:items-center gap-4">
  <div class="md:w-2/4 md:text-lg sm:text-base text-sm text-gray">
    I’m interested in freelance opportunities. However, if you have other
    requests or questions, don’t hesitate to contact me.
  </div>

  <div class="flex flex-col border border-gray p-4">
    <div class="md:text-xl text-base font-medium">Message me here</div>
    <a
      class="flex gap-2 items-center mt-4"
      href="mailto:uzairmaqsood451@gmail.com"
    >
      <span class="material-icons text-gray">email</span>
      <span class="text-sm text-gray"
        >uzairmaqsood451{{ "&#64;" }}gmail.com</span
      >
    </a>

    <a class="flex gap-2 items-center mt-4" href="tel:+923044979487">
      <span class="material-icons text-gray">phone</span>
      <span class="text-sm text-gray">+92 304 4979487</span>
    </a>

    <a
      class="flex gap-2 items-center mt-4"
      href="https://www.linkedin.com/in/uzair-maqsood-se1a6050267"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/images/Linkedin.svg" alt="LinkedIn Icon" />
      <span class="text-sm text-gray">uzair-maqsood</span>
    </a>

    <a
      class="flex gap-2 items-center mt-4"
      href="https://github.com/OXAYR"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/images/Github.svg" alt="GitHub Icon" />
      <span class="text-sm text-gray">OXAYR.git</span>
    </a>
    <a
      class="flex gap-2 items-center mt-4"
      href="https://www.fiverr.com/uzair_maqsood?public_mode=true7"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="font-black text-gray">fiverr.</span>
      <span class="text-sm text-gray">Uzair Maqsood</span>
    </a>
  </div>
</div>
