<div class="flex md:flex-row flex-col flex-wrap items-center gap-10">
  <div
    *ngFor="let repo of repos"
    class="border border-gray flex flex-col md:w-1/5 w-full shadow-md shadow-gray"
  >
    <img src="assets/images/thumbnail.svg" alt="Repo Thumbnail" />
    <div
      class="border-b border-gray md:text-base text-xs px-4 py-2 whitespace-normal break-words text-gray"
    >
      {{ repo.language }}
    </div>
    <div class="p-4">
      <div class="flex flex-col gap-2">
        <div class="md:text-xl text-sm">{{ repo.name }}</div>

        <small
          class="text-gray whitespace-normal break-words line-clamp-2 md:text-base text-xs"
        >
          {{ repo.description }}
        </small>
      </div>
    </div>
    <div class="mx-4 mb-4">
      <a [href]="repo.html_url" target="_blank">
        <button class="border border-gray px-4 py-2 text-gray">
          Github ->
        </button>
      </a>
    </div>
  </div>
</div>
